<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myad340">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.abdifatah.myad340.sign"></activity>
        <activity android:name="com.abdifatah.myad340.tests" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCNaBtYnoSuBvswBuMwrnjRD-T7ZW2Z6W4" />

        <activity
            android:name="com.abdifatah.myad340.TrafficMap"
            android:label="locations"
            android:parentActivityName="com.abdifatah.myad340.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.abdifatah.myad340.MainActivity" />
        </activity>
        <activity
            android:name="com.abdifatah.myad340.AboutActivity"
            android:label="About"
            android:parentActivityName="com.abdifatah.myad340.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.abdifatah.myad340.MainActivity" />
        </activity>
        <activity
            android:name="com.abdifatah.myad340.East"
            android:label="Zombie Movies"
            android:parentActivityName="com.abdifatah.myad340.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.abdifatah.myad340.MainActivity" />
        </activity>
        <activity
            android:name="com.abdifatah.myad340.detail"
            android:label="Zombie Movie Details"
            android:parentActivityName="com.abdifatah.myad340.East">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.abdifatah.myad340.East" />
        </activity>
        <activity
            android:name="com.abdifatah.myad340.TrafficCamera"
            android:label="Traffic Map"
            android:parentActivityName="com.abdifatah.myad340.MainActivity" />
        <activity
            android:name="com.abdifatah.myad340.traffic_camera"
            android:label="Traffic Cameras"
            android:parentActivityName="com.abdifatah.myad340.MainActivity" />
        <activity
            android:name="com.abdifatah.myad340.MainActivity"
            android:label="My AD340 Project">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>